{% extends 'base.html.twig' %}

{% block title %}Modification d'une réservation{% endblock %}

{% block body %}
	<div class="accommodation-form">
		<h1 class="form-title text-center">Modifier la réservation n°{{ rental.id }}</h1>
		<div class="form-group">
			{{ include('rental/_form.html.twig', {'button_label': 'Modifier'}) }}
		</div>
		<div class="action-buttons">
			<a href="{{ path('app_rental_index') }}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>
				Retour à la liste
			</a>
			{% include "rental/_delete_form.html.twig" %}
		</div>
	</div>
{% endblock %}
