<form method="post" action="{{ path('app_type_accommodation_delete', {'id': type_accommodation.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cet hébergement ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_accommodation.id) }}">
	<button type="submit" class="btn btn-danger">Supprimer</button>
</form>
